/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1vh;
}
@media (max-width:750px) {
  .navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:750px) {
  .navigation div {
    padding-bottom: 1.2vh;
  }
}
.navigation .logo {
  padding: 10px;
  margin-right: 20%;
  margin-top: 5px;
  margin-left: 20px;
  font-family: "Point One", orienta;
}
@media (max-width:750px) {
  .navigation .logo {
    margin: 0 auto;
    padding: 10px;
  }
}
.navigation a {
  text-decoration: none;
  color: #585858;
  font-size: 2rem;
  margin-right: 1vw;
}
@media (max-width:750px) {
  .navigation a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 0.5vh;
  }
}
.navigation a:hover {
  text-decoration: underline;
}
.navigation a:active {
  color: red;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
html {
  font-family: 'Orienta', sans-serif;
}
button {
  border-radius: 20px;
  font-size: 17px;
  padding: 5px 70px;
  text-decoration: none;
  background-color: #585858;
  color: #F8F8F8;
  margin-left: 20px;
}
button:hover {
  background-color: #dfdbdb;
  color: #585858;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Poiret One', cursive;
  color: #585858;
}
p {
  color: #585858;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
footer {
  background-color: #E5E5E5;
  text-align: center;
}
footer p {
  padding: 2vh 0;
}
header {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 65vh;
  max-height: 65vh;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header .slide-image {
  position: absolute;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 900px;
  height: auto;
  opacity: 0.2;
}
header .active {
  display: block;
}
header h1 {
  padding: 5vh 0;
  z-index: 5;
}
header p {
  font-size: 1.8rem;
  padding: 5vh 0;
  max-width: 50%;
  z-index: 5;
}
@media (max-width:750px) {
  header p {
    max-width: 85%;
    text-align: left;
  }
}
header button {
  margin-bottom: 5vh;
  z-index: 2;
}
.filler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vh 0;
}
.filler div {
  width: 20%;
  text-align: center;
  margin: 0 2vw;
}
.filler div h3 {
  margin-bottom: 2vh;
}
.filler div p {
  line-height: 1.2;
}
