/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
html {
  font-family: 'Orienta', sans-serif;
}
button {
  color: #F8F8F8;
  background-color: #585858;
  border-radius: 8px;
  padding: 3px 25px;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Poiret One', cursive;
  color: #585858;
}
p {
  color: #585858;
}
h1 {
  font-size: 3.5rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
footer {
  background-color: #E5E5E5;
  text-align: center;
}
footer p {
  padding: 2vh 0;
}
header {
  position: relative;
  overflow: hidden;
  text-align: center;
  max-height: 65vh;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-width: 900px;
  height: auto;
  opacity: 0.2;
}
header h1 {
  padding: 5vh 0;
  z-index: 2;
}
header p {
  font-size: 1.8rem;
  padding: 5vh 0;
  max-width: 50%;
  z-index: 2;
}
@media (max-width: 500px) {
  header p {
    max-width: 85%;
    text-align: left;
  }
}
header button {
  margin-bottom: 5vh;
  z-index: 2;
}
.content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.content div {
  width: 48%;
}
@media (max-width: 500px) {
  .content div {
    width: 95%;
    text-align: center;
  }
}
.content div form label {
  color: #585858;
  padding: 0.5vh 0;
}
@media (max-width: 500px) {
  .content div form input {
    width: 100%;
  }
}
.content div form div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  padding: 0.5vh 0;
}
@media (max-width: 500px) {
  .content div form div {
    align-items: center;
    margin: auto;
  }
}
input[name="question"] {
  width: 100%;
  height: 12vh;
}
.formlabel {
  text-align: right;
  padding: 0 2%;
}
.formlabel h4 {
  padding: 0.5vh 0;
}
