/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 1vh;
}
@media (max-width:750px) {
  .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width:750px) {
  .navigation div {
    padding-bottom: 1.2vh;
  }
}
.navigation .logo {
  padding: 10px;
  margin-right: 20%;
  margin-top: 5px;
  margin-left: 20px;
  font-family: "Point One", orienta;
}
@media (max-width:750px) {
  .navigation .logo {
    margin: 0 auto;
    padding: 10px;
  }
}
.navigation a {
  text-decoration: none;
  color: #585858;
  font-size: 2rem;
  margin-right: 1vw;
}
@media (max-width:750px) {
  .navigation a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 0.5vh;
  }
}
.navigation a:hover {
  text-decoration: underline;
}
.navigation a:active {
  color: red;
}
* {
  max-width: 100%;
  box-sizing: border-box;
}
html {
  font-family: 'Orienta', sans-serif;
}
button {
  border-radius: 20px;
  font-size: 17px;
  padding: 5px 70px;
  text-decoration: none;
  color: #F8F8F8;
  margin-left: 20px;
}
button:hover {
  background-color: #dfdbdb;
  color: #585858;
}
h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Poiret One', cursive;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2.2rem;
}
h4 {
  font-size: 1.9rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
header {
  position: relative;
  overflow: hidden;
  text-align: center;
  height: 25vh;
  max-height: 65vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
header h1 {
  padding: 80vh 33vw;
}
.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 5%;
  min-height: 30vh;
}
@media (max-width:750px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.container {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 40%;
  height: 30vh;
  padding: 30px;
  margin: 20px;
  background: #F8F8F8;
}
.container:hover h5 {
  color: red;
}
.ID {
  width: 30%;
  height: 15vh;
  border-radius: 50%;
  margin-bottom: 15px;
}
@media (max-width:750px) {
  width: 95%;
  text-align: center;
}
@media (max-width:750px) {
  align-items: center;
  margin: auto;
}
.card {
  width: auto;
  display: flex;
  flex-direction: column;
  padding: 5px;
  justify-items: flex-end;
}
footer p {
  text-align: center;
  background: #E5E5E5;
  height: 8vh;
  padding: 25px;
}
