@import "reset.less";
@import "mixins.less";
@import "variables.less";
@import "navigation.less";
@import "global.less";

header {
  text-align: center;
  section {
    background-color: @bgcolor;
    height: 60vh;
    .column();
    justify-content: space-between;

    h1 {
        padding: 5vh 0;
      } //close h1    

    p {
      font-size: 1.8rem;
      padding: 5vh 0;
      max-width: 50%;
    }

    button{
        margin-bottom: 5vh;
    }

  } //close section
} //close header
