.flex(){
    display:flex;
    justify-content: center;
    align-items:center;
}

.column(){
    display:flex;
    justify-content:center;
    align-items: center;
}

.button (){
  
      border-radius:20px;    
      font-size:17px;
	  padding:5px 70px;
      text-decoration:none;
    //   background-color:@buttonbg;
      color:@button-font-color;
      margin-left: 20px;


        &:hover {
            
                    background-color: rgb(223, 219, 219);
                    color:#585858;
        
            
        }

}


// ------ Previous button settings --------

// .button(){
//     color:@button-font-color;
//     background-color:@buttonbg;
//     border-radius:8px;
//     padding: 3px 25px;
// }