.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top:1vh;

  .logo {
    padding: 10px;
    margin-right: 20%;
    margin-top: 5px;
    margin-left: 20px;
    font-family: "Point One", orienta;
  } //close logo

  a {
    text-decoration: none;
    color: @font-color;
    font-size: 2rem;
    margin-right:1vw;

    &:hover {
      text-decoration: underline;
    }

    &:active {
      color: red;
    }
  }
} //close navigation
