.body, .navigation {
  
    display: flex;
    width: 100%;
    justify-items: flex-end;
   
}

.navigation, .logo {
  
    justify-content: flex-start;
    padding: 10px;
    margin-right: 20%;
    margin-top: 5px;
    margin-left: 20px;
    font-family: 'Point One', orienta;
  
}

.body, .navigation a {
  

  text-decoration: none;
  color: @font-color;
  font-size: 25px;
  margin-top:10px;
  margin-right: 120px;
  justify-content: space-between;

}


a:hover {
          
            color: #585858; 
          
        }
        
        
a:active {
	color:red;
}
